{% load static %}
<header>
  <a href="/" class="headerLogo">
    <img class="logoImg" src="{% static 'images/logo.png' %}" />
    <span class="successorLogo">Successor</span>
  </a>

  <nav class="headerNav">
    <ul>
      <li>
        <a href="/" class="headerRightButton">
          <img src="{% static 'images/house.png' %}" class="headerIconImg" />
        </a>
      </li>

      <li>
        <span class="headerRightButton">
          <img src="{% static 'images/searchIcon.png' %}" class="headerIconImg" />
        </span>
      </li>
      <li>
        <span class="headerRightButton list" onclick="showBalloon()">
          <img src="{% static 'images/list.png' %}" class="headerIconImg" />
        </span>
        <span class="sample21" id="balloon2">お気に入りしている人
          <div class="request">
            <div class="request-profile">
              <img class="request-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
              <span class="profileName">佐藤 大樹</span>
              <span class="request-btn">リクエスト</span>
            </div>
          </div>

          <div class="request">
            <div class="request-profile">
              <img class="request-img" src="{% static 'images/userIcon.png' %}" alt="">
              <span class="profileName">徳永 智紀</span>
              <span class="request-btn">リクエスト</span>
            </div>
          </div>

          <div class="request">
            <div class="request-profile">
              <img class="request-img" src="{% static 'images/userIcon.png' %}" alt="">
              <span class="profileName">織田 信長</span>
              <span class="request-btn">リクエスト</span>
            </div>
          </div>

          <div class="request">
            <div class="request-profile">
              <img class="request-img" src="{% static 'images/userIcon.png' %}" alt="">
              <span class="profileName">徳川 家康</span>
              <span class="request-btn">リクエスト</span>
            </div>
          </div>
        </span>
      </li>
      <li>
        <a href="/" class="headerRightButton">
          <img src="{% static 'images/alertIcon.png' %}" class="headerIconImg" />
        </a>
      </li>
      <li>
        <a href="/accounts/introduce/" class="headerRightButton">
          <img src="{% static 'images/userIcon.png' %}" class="headerIconImg" />
        </a>
      </li>
    </ul>
  </nav>
</header>
<script type="text/javascript" src="{% static 'js/_navbar.js' %}"></script>

{#<div class="headerAlert">#}
  {##}
  {# <span class="headerAlertText"> 〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇〇 </span>#}
  {##}
  {#</div>#}