{% extends 'base/base.html' %}
{% load static %}
{% block title %}{{ block.super }}{% endblock %}
{% block topcss %}
    <link rel="stylesheet" href="{% static 'css/introduce.css' %}">
    <link rel="stylesheet" href="{% static 'css/takada.css' %}">
{% endblock %}
{% block content %}


<body>
    <div class="top-wrapper">
        <div class="header-img">
            <img class="main-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">

        </div>
    </div>
    
    <div class="main-wrapper">

        <div class="user-name">
            <p><i class="fas fa-heart"></i>佐藤　大樹<i class="fas fa-volume-up"></i></p>
        </div>
        <div class="room">
            <a class="room-btn">
                ROOM
            </a>
        </div>

        <div class="introduce">
            <p class="heading-letter">自己紹介</p>
            <div class="introcude-textbox">
                <p class="introduce-letter">こんにちは！！</p>
            </div>
        </div>

        <div class="boder-bottom"></div>

        <div class="carrier-data profile-box">
            <p class="heading-letter">基本データ</p>

            <div class="carrier-data-item">
                <p>2020年度</p>
            </div>


            <div class="carrier-data-item">
                <p class="carrier-data-first">会社名　部署　担当</p>
                <p class="carrier-data-second">2020年4月〜入社</p>
            </div>

            <div class="carrier-data-item">
                <p class="carrier-data-first">会社名　部署　担当</p>
                <p class="carrier-data-second">2020年4月〜入社</p>
            </div>

            <div class="carrier-data-item">
                <p class="carrier-data-first">趣味</p>
            </div>

            <div class="carrier-data-item">
                <p class="carrier-data-first">社外活動</p>
            </div>

            <div class="carrier-data-item">
                <p class="carrier-data-first">有志活動</p>
            </div>


        </div>

        <div class="boder-bottom"></div>

        <div class="create-room profile-box">
            <p class="heading-letter">作成ルーム</p>



            <div class="room-box">
                <a href=""></a>
                <div class="left-box">
                    <img class="test-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
                </div>
                <div class="right-box">
                    <p>佐藤大樹<i style="color: gray;" class="fas fa-volume-up"></i></p>
                    <p class="mini-view">view<br>100</p>
                    <p style="padding-bottom: 15px;">現勤務先</p>
                    <p>○○について話せます！</p>
                    <p>○○について聞きたいです！</p>
                </div>
            </div>

            <div class="room-box">
                <a href=""></a>
                <div class="left-box">
                    <img class="test-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
                </div>
                <div class="right-box">
                    <p>佐藤大樹<i style="color: gray;" class="fas fa-volume-up"></i></p>
                    <p class="mini-view">view<br>100</p>
                    <p style="padding-bottom: 15px;">現勤務先</p>
                    <p>○○について話せます！</p>
                    <p>○○について聞きたいです！</p>
                </div>
            </div>

            <div style="margin-bottom: 10px;" class="room-box">
                <a href=""></a>
                <div class="left-box">
                    <img class="test-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
                </div>
                <div class="right-box">
                    <p>佐藤大樹<i style="color: gray;" class="fas fa-volume-up"></i></p>
                    <p class="mini-view">view<br>100</p>
                    <p style="padding-bottom: 15px;">現勤務先</p>
                    <p>○○について話せます！</p>
                    <p>○○について聞きたいです！</p>
                </div>
            </div>

        </div>
        <div class="boder-bottom"></div>


        <div class="review-head-message">
            <p class="review-head-letter">= Review =</p>
            <p class="review-head-letter">10</p>
        </div>
        <div class="reviews">
            <div class="review">
                <div class="review-head-comment">
                    <p class="">記載年月日</p>
                    <p class="">年齢　性別　職歴</p>
                    <p class="">ルームテーマ：パラレルキャリアについて話しますよ！</p>
                </div>
                <p class="no-life">No Comment No Life</p>
            </div>
            <div class="review">
                <div class="review-head-comment">
                    <p class="">記載年月日</p>
                    <p class="">年齢　性別　職歴</p>
                    <p class="">ルームテーマ：パラレルキャリアについて話しますよ！</p>
                </div>
                <p class="no-life">No Comment No Life</p>
            </div>
            <div class="review">
                <div class="review-head-comment">
                    <p class="">記載年月日</p>
                    <p class="">年齢　性別　職歴</p>
                    <p class="">ルームテーマ：パラレルキャリアについて話しますよ！</p>
                </div>
                <p class="no-life">No Comment No Life</p>
            </div>
            <div class="review">
                <div class="review-head-comment">
                    <p class="">記載年月日</p>
                    <p class="">年齢　性別　職歴</p>
                    <p class="">ルームテーマ：パラレルキャリアについて話しますよ！</p>
                </div>
                <p class="no-life">No Comment No Life</p>
            </div>
            <div class="review">
                <div class="review-head-comment">
                    <p class="">記載年月日</p>
                    <p class="">年齢　性別　職歴</p>
                    <p class="">ルームテーマ：パラレルキャリアについて話しますよ！</p>
                </div>
                <p class="no-life">No Comment No Life</p>
            </div>
            <div class="review">
                <div class="review-head-comment">
                    <p class="">記載年月日</p>
                    <p class="">年齢　性別　職歴</p>
                    <p class="">ルームテーマ：パラレルキャリアについて話しますよ！</p>
                </div>
                <p class="no-life">No Comment No Life</p>
            </div>
        </div>

        <div class="more-see">
            <a href="" style="text-decoration: none; color: #fff;">
                もっと見る
            </a>
        </div>

        <div class="boder-bottom "></div>

        <div class="view-profile">
            <p style="padding-bottom: 10px;">= View Profile =</p>
            <p>500</p>
        </div>
    </div>

</body>

{#    {% include 'base/sidebar.html' %}#}
{% endblock %}