{% extends 'base/base.html' %}
{% block title %}プライバシーポリシー - {{ block.super }}{% endblock %}
{% block content %}
{% include 'base/_navbar.html' %}

<div style="word-wrap: break-word; margin: 0 auto; width: 50%; padding-top: 70px;">
    <h3>プライバシーポリシー</h3>

    <p>successorは、利用者等（提供するSuccessorその他のサービスの利用者および利用者になろうとする方をいいます。）の個人情報保護の重要性について認識し、個人情報の保護に関する法律（以下「個人情報保護法」といいます。）を遵守すると共に、以下のプライバシーポリシー（以下「本プライバシーポリシー」といいます。）に従い、適切な取扱い及び保護に努めます。
    </p>
    <p>1.本プライバシーポリシーにおいて、個人情報とは、個人情報保護法の定義に従うものとし、その　
        他の定義については、Successor利用規約等（以下「利用規約等」といいます。）に従う
        ものとします。</p>
    <p>2.提供するSuccessorその他のサービス（以下「当社サービス」といいます。）の提供にあたっ
        て、以下の個人情報を収集し、利用目的に従って利用いたします。</p>
    A.当社サービス登録時について <br>
    a.収集情報：提供するサービス利用にあたって所定のフォームに利用者等が入力する個人情報 <br>
    b.利用目的：利用規約等に基づき、以下を行うため <br> <br>
    　　1)サービス登録の判断のため <br>
    　　2)サービスを提供するため <br>
    　　3)サービスに関するご案内、お問い合わせ等への対応のため <br>
    　　4)サービスのお客様について、行為を実施するため <br>
    　　5)サービスの運営に関する事務連絡を行うため <br>
    　　6)利用規約等に違反する行為に対する対応のため <br>
    　　7)サービスの改善、新サービスの開発等に役立てるため <br>
    　　8)サービス展開のマーケティングに向けた分析を行うため <br>
    　　9)その他、上記利用目的に付随する目的のため <br> <br>
    c.利用者がSNS（Facebook等）のアカウントでログインする場合、利用者等のメールアドレス
    等のID情報を取得します。この場合の利用目的については、a.b に記載の利用目的と同様
    となります。 <br>
    d.利用者がSuccessorの利用にあたって、トークルーム内において当事者間相互に開示した個
    人情報については、サービスのシステム管理をする目的以外に利用することはなく、a. b. の
    利用目的で利用することはありません。 <br>
    e.お問い合わせフォームにおけるお問い合わせについては以下のとおりです。
    　　1)収集情報：お問い合わせフォームに入力する個人情報 <br>
    　　2)利用目的：お問い合わせ等への対応のため <br>
    <p>3.適正に個人情報を取得し、偽りその他不正の手段により取得しません。</p>
    <p>4.個人情報の紛失、破壊、改ざん及び漏洩などのリスクに対して、個人情報の安全管理が図
        られるよう、必要かつ適切な監督を行います。また、個人情報の取扱いの全部又は一部を委
        託する場合は、委託先において個人情報の安全管理が図られるよう、必要かつ適切な監督
        を行います。</p>
    <p>5.個人情報保護法その他の法令に基づき開示が認められる場合を除くほか、あらかじめ利用
        者等の同意を得ないで、個人情報を第三者に提供しません。但し、次に掲げる場合は上記
        に定める第三者への提供には該当しません。</p>
    <p> A.当社が利用目的の達成に必要な範囲内において個人情報の取扱いの全部又は一部を委託することに伴って個人情報を提供する場合<br>
        B.合併その他の事由による事業の承継に伴って個人情報が提供される場合<br>
        C.個人情報保護法の定めに基づき共同利用する場合</p>

    <p>6.利用者等から、個人情報保護法の定めに基づき個人情報の開示を求められたときは、利用
        者等ご本人からのご請求であることを確認の上で、利用者等に対し、遅滞なく開示を行いま
        す（当該個人情報が存在しないときにはその旨を通知いたします。）。但し、個人情報保護
        法その他の法令により、当社が開示の義務を負わない場合は、この限りではありません。</p>
    <p>7.利用者等から、個人情報が真実でないという理由によって、個人情報保護法の定めに基づ
        きその内容の訂正、追加又は削除（以下「訂正等」といいます。）を求められた場合には、
        利用者等ご本人からのご請求であることを確認の上で、利用目的の達成に必要な範囲内に
        おいて、遅滞なく必要な調査を行い、その結果に基づき、個人情報の内容の訂正等を行い、
        その旨を利用者等に通知します（訂正等を行わない旨の決定をしたときは、利用者等に対
        しその旨を通知いたします。）。但し、個人情報保護法その他の法令により、訂正等の義務
        を負わない場合は、この限りではありません。
    </p>
    <p>8.利用者等から、利用者等の個人情報が、あらかじめ公表された利用目的の範囲を超えて取
        り扱われているという理由又は偽りその他不正の手段により取得されたものであるという理由に
        より、個人情報保護法の定めに基づきその利用の停止又は消去（以下「利用停止等」とい
        います。）を求められた場合において、そのご請求に理由があることが判明した場合には、利
        用者等ご本人からのご請求であることを確認の上で、遅滞なく個人情報の利用停止等を行
        い、その旨を利用者等に通知します。但し、個人情報保護法その他の法令により、利用停
        止等の義務を負わない場合は、この限りではありません。</p>
    <p>9.開示等のお申出、ご意見、ご質問、苦情のお申出その他個人情報の取扱いに関する事項
        および本プライバシーポリシーに関するお問い合わせは、お問い合わせフォームを通じて、ご連
        絡頂きますよう宜しくお願い致します。</p>
    <p>10.個人情報の取扱いに関する運用状況を適宜見直し、継続的な改善に努めるものとし、必
        要に応じて、本プライバシーポリシーを変更することがあります。</p>
    <p>11.利用者がSuccessorにSNS（Facebook等）のアカウントでログインする場合、本プライ
        バシーポリシーの他、当該SNS事業者のプライバシーポリシーが適用となります。</p>
    以上 <br>
    制定日：令和２年１１月５日





</div>

{% include 'base/_footer.html' %}

{% endblock %}