{% extends 'base/base.html' %}
{% block title %}利用規約 - {{ block.super }}{% endblock %}
{% block content %}

{% include 'base/_navbar.html' %}

<div style="word-wrap: break-word; margin: 0 auto; width: 50%; padding-top: 70px;">
    <h1>Successor利用規約</h1>

    Welcome to Successor!! <br> <br>


    Successor利用規約（以下、「本規約」といいます。）は、Successor
    (以下、「運営者」といいます。）が運営者のウェブサイトおよびアプリケーション（以下、「本プラットフォーム」といいます。）上で提供するサービス（以下、「本サービス」といいます。）について、本サービスへ登録した利用者の方々（以下、「利用者」といいます。）の利用条件を定めるものです。本サービスの利用に際しては、本規約をお読みいただいた上で、同意していただく必要があります。
    <h3>第1条（適用）</h3>
    <p>1.本規約は、利用者と運営者との間の本サービスの利用に関わる一切の関係に適用されるものとします。</p>
    <p>2.運営者は、本サービスに関し、本規約のほか、運営者が別途定めたプライバシーポリシー（以
        下「プライバシーポリシー」といいます。）、ルール、注意点等を定めたうえで本プラット
        フォーム上に表示することがありますが、これらの表示も本規約の一部を構成し、本サービスを
        利用するための一体となった規律（以下「本規約等」といいます。）であるものとします。
        本規約は、利用者と運営者との間の本サービスの利用に関わる一切の関係に適用されるも
        のとします。</p>

    <h3>第２条（本サービスの内容）</h3>
    <p>1.本サービスは、人と人との交流や情報交換を促し、自己の成長に寄与するサービスを提供し
        ています。本プラットフォームに登録をした個人（以下「情報提供者」といいます。）が、情報
        収集希望者として本プラットフォームに登録した方（以下「情報受領者」といいます。）に対
        し、無償で、情報提供者がこれまで経験したキャリア（職種、条件、環境等）の知見および
        知識等（以下「知見等」といいます。）の情報の提供（以下「情報提供」といます。）を行
        う場について、運営者が提供するサービスとなります。</p>
    <p>2.本規約等において、本サービスを利用する情報受領者と情報提供者をあわせて「利用者」と
        いいます。</p>

    <h3>第３条（本サービスの利用手順）</h3>
    <p>1.情報提供者は、情報受領者にとって有益となると考えられる知見等の要旨（以下「経験
        談」といいます。）について、あらかじめ運営者所定の方法で、本プラットフォームに登録を行う
        ものとします。この場合において、情報提供者は、対価の支払いを伴わない経験談（以下
        「無償経験談」といいます。）のみとします。</p>
    <p>2.情報受領者は、自らにとって有益となり得る経験談がある場合、当該経験談の情報提供者
        に対して、情報提供を申し込むものとし、当該申し込みを当該情報提供者が承諾することに
        よって、当該情報提供者と当該情報受領者（以下「当事者」といいます。）との間に情報
        提供に関する契約が成立し、当事者間の情報提供が開始されるものとします。</p>
    <p>3.前項の契約が成立したことを受け、運営者は、本プラットフォーム上において当事者のための
        疑似的な会話スペース（以下「トークルーム」といいます。）を生成するものとし、当事者は、
        トークルームにおいて、必要に応じて当事者個人に関する情報を相互に共有した上で、情報
        提供の内容および方法等の協議を行うものとします。</p>
    <p>4.情報提供は、Web会議のみの方法によるディスカッション（以下「会話」といいます。）を行う
        ことによって実施するものとしますが、面談の場所、内容、結果等について、運営者は一切関
        与せず、責任を負うことはありません。なお、当事者の合意のもとトークルーム内で情報提供を
        完結することも可能とします。</p>
    <p>5.面談の実施後、当事者は、運営者所定の方法によって、面談が終了したことを相互に承認
        し、運営者に通告するものとします。</p>
    <h3>第４条（利用登録）</h3>

    <p>1.利用者となることを希望する方（以下「利用希望者」といいます。）は、本規約等にあらかじ
        め同意のうえ、運営者の定める方法によって利用登録を申請し、運営者が承認することに
        よって、運営者と利用者との間に本サービス利用に関する契約（以下「本契約」といいま
        す。）が成立し、両者に本規約等基づく権利義務関係が発生するものとします。
    </p>
    <p>2.前項の利用登録にあたって、運営者がSNS（Facebook等）のサービス事業者等のアカウ
        ントを利用することを認めている場合において、利用希望者がかかる手段を利用した場合は、
        利用者は本規約等に加えて、当該サービス事業者の定めた規律に従うものとします。</p>
    <p>3.運営者は、利用希望者に以下の事由があると判断した場合、前項の承認をしないことがあり
        ます。なお、運営者は承認をしない理由について、開示義務を負わないものとします。</p>
    <p>A.虚偽の事項を届け出た場合 <br>
        B.本規約等に違反したことがある者である場合 <br>
        C.その他、運営者が相当ではないと判断した場合</p>
    <h3>第５条（IDの管理）</h3>
    
    <p>1.利用者は、善良な管理者の注意義務をもって、自己の責任において、本サービスのID（前
        条第2項に該当するものを含みます。以下同じ）を適切に管理しなければならないものとし、
        IDが第三者によって使用されたことによって生じた損害は、運営者に故意または重大な過失
        がある場合を除き、運営者は一切の責任を負わないものとします。</p>
    <p>2.利用者は、いかなる場合にも、IDを第三者に譲渡または貸与し、もしくは第三者と共用することはできません。</p>

    <h3>第６条（禁止行為）</h3>

    <p>利用者は、本サービスの利用にあたり、以下の行為をしてはなりません。</p>

    <p>A.法令または公序良俗に違反する、またはそのおそれのある行為</p>
    <p>B.運営者、他の利用者、第三者を妨害するおそれのある行為</p>
    <p>C.他の利用者に関する個人情報等を収集または蓄積しようとする行為</p>
    <p>D.不正アクセスをし、またはこれを試みる行為</p>
    <p>E.他の利用者に成りすます行為</p>
    <p>F.反社会的勢力に対して直接または間接に利益を供与する行為</p>
    <p>G.運営者、他の利用者、第三者の知的財産権その他の権利または利益を侵害する行為</p>
    <p>H.以下の表現を含み、または含むと運営者が判断する内容を本プラットフォーム上に投稿、送信する行為</p>
    a.暴力的な表現または性的な表現 <br>
    b.人種、国籍、信条、性別、社会的身分、門地等による差別につながりかねないものと
    運営者が判断する表現 <br>
    c.自殺、自傷、薬物乱用等の行為を誘引または助長する表現
    <p>I.反社会的な内容を含み他人に不快感を与える表現を目的とし、または目的とすると運営
        者が判断する行為</p>
    <p>J.営業、宣伝、広告、勧誘、その他営利を目的とする行為</p>
    <p>K.性行為やわいせつな行為を目的とする行為</p>
    <p>L.面識のない異性との出会いや交際を目的とする行為</p>
    <p>M.他の利用者に対する嫌がらせや誹謗中傷を目的とする行為</p>
    <p>N.運営者、本サービスの他の利用者、または第三者に不利益、損害または不快感を与える
        ことを目的とする行為</p>
    <p>O.宗教活動または宗教団体への勧誘行為その他、運営者が不適切と判断する行為</p>
    <p>P.その他本サービスが予定している利用目的と異なる目的で本サービスを利用する行為</p>

    <h3>第７条（サービス提供の停止等）</h3>

    <p>1.運営者は、以下のいずれかの事由があると判断した場合、利用者に事前に通知することなく
        本サービスの全部または一部の提供を停止または中断することができるものとします。</p>
    A.本サービスにかかるシステムの保守、点検、更新を行う場合 <br>
    B.地震、落雷、火災、停電または天災などの不可抗力により、本サービスの提供が困難となった場合 <br>
    C.システム、サーバ、通信回線等が事故により停止した場合 <br>
    D.その他、運営者が本サービスの提供が困難と判断した場合
    <p>2.前項により、利用者または第三者が損害を被った損害においても、運営者は、運営者の故
        意または過失に因る場合を除き、責任を負わないものとします。</p>
    <h3>第８条（知的財産権）</h3>




    <p>1.本サービスに関する知的財産権は全て運営者または運営者にライセンスを許諾している者に
        帰属しており、本規約に基づく本サービスの利用許諾は、本サービスに関する運営者または
        運営者にライセンスを許諾している者の知的財産権の使用許諾を意味するものではありませ
        ん。</p>
    <p>2.利用者は、投稿データについて、自らが投稿または送信することについての適法な権利を有し
        ていること、および投稿データが第三者の権利を侵害していないことについて、運営者に対し
        表明し、保証するものとします。</p>
    <p>3.利用者は、投稿データについて、運営者に対し、無償にて、世界的、非独占的、サブライセン
        ス可能かつ譲渡可能な使用、複製、配布、派生著作物の作成、表示および実行に関する
        ライセンスを付与します。また、他の利用者に対しても、本サービスを利用して利用者が投稿
        または送信した投稿データの使用、複製、配布、派生著作物を作成、表示および実行する
        ことについての非独占的なライセンスを付与します。</p>
    <p>4.利用者は、運営者および運営者から権利を承継しまたは許諾された者に対して著作者人格
        権を行使しないことに同意するものとします。</p>

    <h3>第９条（通信の秘密）</h3>
    <p>運営者は、利用者の本サービスの利用履歴、利用者の間で送受信されるメッセージの内容および送受信履歴（閲覧状況を含みますが、これに限られません。）、ビデオ会議の録画を、本サービスの運営・改善・トラブル防止のため、または統計情報の取得のために閲覧することがあるものとし、利用者はあらかじめこれに同意するものとします。
    </p>

    <h3>第１０条（反社会的勢力排除）</h3>

    <p>利用者または利用希望者は、自らおよび同伴のご利用者様が暴力団、暴力団員、暴力団
        準構成員、暴力団関係企業、総会屋等社会運動標榜ゴロまたは特殊知能暴力団、その
        他これらに準ずる者(以下これらを「反社会的勢力」といいます。）に該当しないこと、および
        次の各号のいずれにも該当しないことを表明し、かつ将来にわたっても該当しないことを確約し
        ます。</p>

    A.反社会的勢力が経営を支配していると認められる関係を有すること <br>
    B.反社会的勢力が経営に実質的に関与していると認められる関係を有すること <br>
    C.自己、自社もしくは第三者の不正の利益を図る目的または第三者に損害を加える目的をもってするなど、不当に反社会的勢力を利用していると認められる関係を有すること <br>
    D.反社会的勢力に資金等を提供し、または便宜を供与するなどの関与をしていると認められる関係を有すること <br>
    E.役員または経営に実質的に関与している者が反社会的勢力と社会的に非難されるべき関係を有すること




    <p>2.利用者または利用希望者は、自らまたは第三者を利用して次の各号の一つにでも該当する
        行為を行わないことを確約します。</p>
    A.暴力的な要求行為 <br>
    B.法的な責任を超えた不当な要求行為 <br>
    C.取引に関して、脅迫的な言辞または暴力を用いる行為 <br>
    D.風説を流布し、偽計若しくは威力を用いて相手方の信用を毀損し、または業務を妨害する行為


    <h3>第１１条（登録抹消等）</h3>
    <p>運営者は、利用者が以下のいずれかに該当する場合には、ただちに当該利用者の利用の制限または利用者登録の抹消ができるものとします。この場合、運営者に生じた損害について、利用者または利用者であった者に請求することができるものとします。
    </p>
    A.本規約等に違反した場合 <br>
    B.第７条に違反するおそれがあると運営者が判断した場合 <br>
    C.第10条の表明または確約に違反するおそれがあると運営者が判断した場合 <br>
    D.登録事項に虚偽の事実があることが判明した場合 <br>
    E.運営者の指定した決済方法による債務の履行が困難となった場合 <br>
    F.運営者から の連絡に対し、一定期間返答がない場合 <br>
    G.本サービスについて最終の利用から運営者の定めた期間利用がない場合 <br>
    H.その他、運営者が本サービスの利用を適当でないと判断した場合 <br>
    <h3>第１２条（退会）</h3>
    <p>利用者は、運営者の定める退会手続きにより、本サービスから退会できるものとします。</p>

    <h3>第１３条（運営者の権限、免責事項）</h3>
    <p>1.運営者は、必要に応じて本サービスの全部または一部の業務を第三者に委託できるものとし
        ます。</p>
    <p>2.利用者は、本サービスを自己の責任において利用するものとします。</p>
    <p>3.運営者は、本サービスおよび本サービス内で利用者が行った言動等に関して、いかなる保証
        もしないものとし、本サービスに関して利用者または第三者に生じたあらゆる損害については、
        運営者の故意または過失によるものを除き、責任を負わないものとします。</p>
    <p>4.通信速度は国や状況によって異なり、弊社が速度を保証致しません。</p>
    <h3>第１４条（本サービスの変更等）</h3>
    <p>運営者は、利用者に通知することなく、本サービスの内容を変更しまたは本サービスの提供を中止することができるものとします。</p>

    <h3>第１５条（利用規約の変更）</h3>
    <p>運営者は、必要と判断した場合には、利用者に通知することなく本規約等を変更することができるものとします。なお、運営者が本規約等の変更内容を本プラットフォーム等により公表した後、利用者が本サービスの利用した場合、当該利用者は変更後の規約に同意したものとします。
    </p>

    <h3>第１６条（個人情報の取扱い）</h3>
    <p>本サービスの利用に関する個人情報の取り扱いについては、プライバシーポリシーに従い適切に取り扱うものとします。ただし、第４条第２項に基づいて利用者が本サービスを利用した場合は、当該事業者のプライバシーポリシーも適用となります。
    </p>
    <h3>第１７条（譲渡の禁止）</h3>
    <p>利用者は、本契約上の地位または権利義務を第三者に譲渡し、または担保に供することはできません。</p>
    <h3>第１８条（分離可能性）</h3>
    <p>本規約のいずれかの条項またはその一部が、消費者契約法その他の法令等により無効または執行不能と判断された場合であっても、本規約の残りの規定および一部が無効または執行不能と判断された規定の残りの部分は、継続して完全に効力を有するものとします。
    </p>

    <h3>第１９条（準拠法・裁判管轄）</h3>
    <p>1.本規約等の解釈にあたっては、日本法を準拠法とします。</p>
    <p>2.本サービスに関して紛争が生じた場合には、東京地方裁判所または東京簡易裁判所を第
        一審の専属的合意管轄裁判所とすることに利用者等は同意するものとします。</p>


    <p>以上</p>


    制定日：令和2年11月5日







     

    
    



</div>

{% include 'base/_footer.html' %}


{% endblock %}