{% extends 'base/base.html' %}
{% load static %}

{% block title %}{{ block.super }}{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/top.css' %}">
{% endblock %}
{% block content %}
{% include 'base/_navbar.html' %}

<div class="newRoomPosition">
    <div class="newRoom">
        <div class="newRoomProfile">
            <img class="main-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
            <span class="profileName">佐藤大樹</span>
            {# <span style="margin-left: 10px">現勤務先</span>#}
        </div>
        <div>
            〇〇について聞きたいです
        </div>
    </div>

    <div class="newRoom">
        <div class="newRoomProfile">
            <img class="main-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
            <span class="profileName">佐藤大樹</span>
            {# <span style="margin-left: 10px">現勤務先</span>#}
        </div>
        <div>
            〇〇について聞きたいです
        </div>
    </div>

    <div class="newRoom">
        <div class="newRoomProfile">
            <img class="main-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
            <span class="profileName">佐藤大樹</span>
            {# <span style="margin-left: 10px">現勤務先</span>#}
        </div>
        <div>
            〇〇について聞きたいです
        </div>
    </div>

    <div class="newRoom">
        <div class="newRoomProfile">
            <img class="main-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
            <span class="profileName">佐藤大樹</span>
            {# <span style="margin-left: 10px">現勤務先</span>#}
        </div>
        <div>
            〇〇について聞きたいです
        </div>
    </div>

    <div class="newRoom">
        <div class="newRoomProfile">
            <img class="main-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
            <span class="profileName">佐藤大樹</span>
            {# <span style="margin-left: 10px">現勤務先</span>#}
        </div>
        <div>
            〇〇について聞きたいです
        </div>
    </div>

    <div class="newRoom">
        <div class="newRoomProfile">
            <img class="main-img" src="http://127.0.0.1:8000/media/images/IMG_8991.jpg" alt="">
            <span class="profileName">佐藤大樹</span>
            {# <span style="margin-left: 10px">現勤務先</span>#}
        </div>
        <div>
            〇〇について聞きたいです
        </div>
    </div>
    <a href="" class="make-room-btn">Make a room</a>
</div>
<p style="height: 500px;">
    s
</p>
{% endblock %}