{% extends 'base/base.html' %}
{% block title %}{{ block.super }}{% endblock %}
{% block content %}

<div class="ui grid stackable" style="justify-content:center;">
    <div class="ui small images" style="margin-top:50px;display:flex;" >

        <img src="https://source.unsplash.com/random/1" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/2" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/3" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/4" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/5" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/6" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/7" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/8" style="height: 200px; width: 200px;">
        <img src="https://source.unsplash.com/random/9" style="height: 200px; width: 200px;">

    </div>
</div>
    <h1 class="ranking">=Ranking=</h1>
    <h3 class="ranking"> < レビュー数 > </h3>
    <div class="ranking content">
        <span class="ranking number1">1</span>
        <span class="ranking contentright">
        〇〇について聞きたいです
        〇〇について聞きたいです
        〇〇について聞きたいです
        </span>
    </div>

    <hr style="width: 20%; border-color:#0070C0;">
    <div class="ranking content">
        <span class="ranking number2">2</span>
        <span class="ranking contentright">
        〇〇について聞きたいです
        </span>
    </div>
    <hr style="width: 20%; border-color:#0070C0;">

    <div class="ranking content">
        <span class="ranking number3">3</span>
        <span class="ranking contentright">
        〇〇について聞きたいです
        </span>
    </div>

    <h1 style="color:#0070C0; text-align:center">=New=</h1>
    <div class="ui three column stackable grid">
        <div class="column">
            <div class="ui raised segment">
                 <div class="ui placeholder">
                     <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui raised segment">
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
             </div>
         </div>

        <div class="column">
            <div class="ui raised segment">
                <div class="ui placeholder">
                     <div class="image header">
                         <div class="line"></div>
                         <div class="line"></div>
                     </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui three column stackable grid">
        <div class="column">
            <div class="ui raised segment">
                 <div class="ui placeholder">
                     <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="ui raised segment">
                <div class="ui placeholder">
                    <div class="image header">
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
             </div>
         </div>

        <div class="column">
            <div class="ui raised segment">
                <div class="ui placeholder">
                     <div class="image header">
                         <div class="line"></div>
                         <div class="line"></div>
                     </div>
                    <div class="paragraph">
                        <div class="medium line"></div>
                        <div class="short line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h1 style="color:#0070C0; text-align:center">=New Review=</h1>
    <div class="column" style="width: 32%; margin-left: 34%; margin-bottom: 30px">
        <div class="ui raised segment">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="paragraph">
                    <div class="medium line"></div>
                    <div class="short line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="column" style="width: 32%; margin-left: 34%; margin-bottom: 30px">
        <div class="ui raised segment">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="paragraph">
                    <div class="medium line"></div>
                    <div class="short line"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="column" style="width: 32%; margin-left: 34%; margin-bottom: 30px">
        <div class="ui raised segment">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="paragraph">
                    <div class="medium line"></div>
                    <div class="short line"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="column" style="width: 32%; margin-left: 34%; margin-bottom: 30px">
        <div class="ui raised segment">
            <div class="ui placeholder">
                <div class="image header">
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <div class="paragraph">
                    <div class="medium line"></div>
                    <div class="short line"></div>
                </div>
            </div>
        </div>
    </div>

{#    {% include 'base/sidebar.html' %}#}
{% endblock %}

