.contact-box {
    text-align: center;
    background-color: white;
    width: 40%;
    margin: 0 auto;
    border-radius: 40px;
    padding-bottom: 20px;
}
.must-letter {
        color: red;
        font-size: 12px;
    }
input {
    width: 80%;
    font-size: 20px;
}
select {
    width: 80%;
    font-size: 15px;
    padding: 3px 0;

}
textarea {
    border-radius: 20px;
    width: 80%;
    margin-bottom: 20px;
}
.contact-btn {
    display: block;
    color: #fff;
    font-size: 18px;
    margin: 0 auto;
    width: 50%;
    background-color: #0070C0;
    border-radius: 8px;
}