body {
    background-color: #EEF1F2;
    text-align: center;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.logo-underletter:first-letter {
    color: #0070C0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.head{
    margin-top: 10%;

}

.tab-container {
    list-style-type: none;
    padding: 0;
    margin: -40px auto;
    max-width: 600px;
    position: relative;
    background: #fff;
}

.tab-container ul {
    list-style-type: none;
    padding: 0;
}

.tab-container .arrows {
    display: block;
    width: 60px;
    font-size: 32px;
    bottom: 10px;
    right: 0px;
    position: absolute;
}

.tab-container .arrows label {
    display: inline-block;
    cursor: pointer;
    color: #aaa;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-left: 5px;
}

.tab-container .arrows label:hover {
    color: #333;
}

.tab-container .tab-content-container {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-radius: 40px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    line-height: 22px;
    background: #fff;
    position: absolute;
    top: 42px;
    padding: 0px 40px 0 20px;
    border-top: 0;
    width: 450px;
    margin: 0 12.5%;
}

.tab-container .tab-content-container .tab-content {
    opacity: 0;
    padding: 15px 0;
    min-height: 185px;
    transition: opacity 0.1s ease-in;
}

.tab-container .tab {
    outline: 0;
    float: left;
    cursor: pointer;
    opacity: 1;
    width: 25%;
    line-height: 40px;
    display: block;
    margin: 0;
    position: relative;
    background: #446CB3;
    color: #fff;
    text-align: center;
    border-top: 2px solid #446CB3;
    border-right: 2px solid #446CB3;
}

.tab-container .tab.l-b {
    border-left: 2px solid #446CB3;
}

.tab-container .tab:hover {
    background: #365690;
}

.tab-container .tab-toggle {
    display: none;
}

.tab-container .tab-toggle.active + .tab, .tab-container .tab-toggle:checked + .tab {
    background: #fff;
    color: #333;
}

.tab-container .tab-toggle.active ~ .tab-content-container, .tab-container .tab-toggle:checked ~ .tab-content-container {
    height: auto;
    opacity: 1;
}

.tab-container .tab-toggle.active ~ .tab-content-container .tab-content, .tab-container .tab-toggle:checked ~ .tab-content-container .tab-content {
    opacity: 1;
}

.tab-container .tab-toggle.active ~ .tab-content-container .tab-content label, .tab-container .tab-toggle:checked ~ .tab-content-container .tab-content label {
    opacity: 1;
}


.logo-underletter {
    font-size: 16px;
    font-weight: bold;
    margin-top: -10px;
    margin-bottom: 20px;
}

img {
    width: 40px;
    height: 40px;
}

.create-box {
    padding-bottom: 20px;
    margin: 0 auto;
    width: 40%;
    border-radius: 30px;
    background-color: #fff;
}

.box-ttl {
    margin: 0 auto;
    padding: 20px 0;
    font-size: 20px;
    width: 90%;
    border-bottom: solid 1px #0070C0;
}

.flow-list {
    font-size: 20px;
    color: gray;
}

.flow-list-on {
    color: #0070C0;
    font-size: 20px;
}

.flow-line {
    color: #0070C0;
}

.flow-message {
    font-size: 10px;
    position: relative;
    top: -10px;
}

.flow-content {
    flex-wrap: nowrap;
}

.flow-content p {
    display: inline-block;
}

.create-form {
    background-color: #EEF1F2;
    border: 0.5px solid gray;
    border-radius: 5px;
    width: 80%;
    padding: 7px 0;
    text-align: center;
    font-size: 12px;
}

::placeholder {
    color: gray;
}

.mb15 {
    margin-bottom: 15px;
}



.create-btn {
    margin: 0 auto;
    display: block;
    border: 2px solid #0070C0;
    text-decoration: none;
    color: #0070C0;
    font-weight: bolder;
    font-size: 10px;
    padding: 3px 0;
    width: 30%;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #fff;
}
.create-btn:hover {
    background-color: #0070C0;
    color: white;
    transition-duration: 0.5s
}