
.main-wrapper {
    padding-top: 50px;
}

.header-img {
  margin: 0 auto;
  width: 80%;
  height: 200px;
  background-image: url("/static/css/themes/default/assets/images/xps-1gLdTsX3_70-unsplash (1).jpg");
  background-size: cover;
  margin-top: 100px;
  border-radius: 20px;
}

.main-img {
    margin-top: 150px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 10;
}

.user-name {
      position: relative;
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
    font-family: serif;

}

.user-name i {
    color: gray;
    font-size: 20px;
}

.fa-heart {
    margin-right: 10px;
}


.fa-volume-up {
    margin-left: 10px;
}

.room {
    margin-top: 20px;
font-family: 'Roboto Slab', serif;
}


.room-btn {
    display: block;
    color: #fff;
    font-size: 20px;
    margin: 0 auto;
    width: 30%;
    background-color: #0070C0;
    padding: 10px 0px;
    border-radius: 10px;
}

.introduce {
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 20px;
    text-align: left;
}

.heading-letter {
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    line-height: 2;

}
.introcude-textbox {
    padding: 0 20px;
}
.bottom-line {
   width: 10%;
   height: 10%;
}

.profile-box  {
    margin: 0 auto;
    width: 60%;
    background-color: #fff;
    height: 100%;
    margin-top: 20px;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 5px;
}

p {
    line-height: 1;
    margin: 0;
}

div {
    margin: 0;
    padding: 0;
}

.carrier-data-item {
    background-color: #EEF1F2;
    width: 80%;
    margin: 0 auto;
    padding: 5px 0;
    margin-bottom: 5px;
    border-radius: 4px;
}

.carrier-bottom{
    margin-bottom: 80px;
}

.carrier-data-second {
    font-size: 11px;
    color: gray;
    margin-top: 1px;
}

.boder-bottom {
    width: 30%;
    padding-top: 20px;
    border-bottom: 1px solid #0070C0;
    margin: 0 auto;
}

.create-room-items {
    border: 1px solid;
    color: gray;
}

.column {
    width: 80%;
    margin: 0 auto;

    border-radius: 10px;
    padding: 5px 0;
    line-height: 0;
}

.raised {
    border-radius: 10px;
}
.review {
     margin: 0 auto;
    width: 60%;
    background-color: #fff;
    height: 100%;
    margin-top: 10px;
    border-radius: 20px;
    text-align: center;
    padding-bottom: 5px;
    color: gray;
}
.review-head-comment {
    text-align: left;
    padding: 10px 0 20px 20px;
}

.no-life {
    padding-bottom: 10px;
}

.more-see {
    display: block;
    font-size: 15px;
    margin: 0 auto;
    margin-top: 10px;
    width: 15%;
    background-color: #0070C0;
    padding: 3px 0px;
    border-radius: 10px;
    margin-bottom: 50px;
}

.review-head-message {
    font-size: 25px;
    padding-bottom: 10px;
}

.review-head-letter {
    padding-top: 10px;
}

.view-profile {
    font-size: 30px;
    padding: 30px;
    font-family: serif;
}

.room-box {
    width: 80%;
    margin: 0 auto;
    border: 1px solid gray;
    border-radius: 10px;
    color:  gray;
    display: flex;
    margin-top: 20px;
}

.left-box {
    width: 30%;
}
.right-box {
    width: 70%;
    text-align: left;
    margin-bottom: 20px;
}

.test-img {
     width: 80px;
    height: 80px;
    border-radius: 50px;
    margin-top: 15px;
}

.mini-view {
    float: right;
    margin-right: 30px;
    color:  #0070C0;
}

.right-box p:first-child {
    margin-top: 20px;
    color: #000;
    margin-bottom: 5px;
    font-size: 18px;
}

.room-box {
    position: relative;
    z-index: 1; /* 必要であればリンク要素の重なりのベース順序指定 */
}
.room-box a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-indent:-999px;
    z-index: 2; /* 必要であればリンク要素の重なりのベース順序指定 */
}