

/*.login{*/
/*    display: inline-block;*/
/*    font-size: 20px;*/
/*    padding: 5px;*/
/*    height: 30px;*/
/*    margin: 20px 10px 20px 10px;*/
/*    color: #0070C0;*/
/*    border: thin solid #0070C0;*/
/*    border-radius: 10px;*/

/*}*/

/*.signup{*/
/*    display: inline-block;*/
/*    font-size: 25px;*/
/*    color: #EEF1F2;*/
/*    background-color: #0070C0;*/
/*    border-radius: 10px;*/
/*    margin: 10px;*/
/*    padding: 15px 10px 0px 10px;*/
/*}*/

/*
top.html
 */
body{
    text-align: center;
}

.smallTitle{
    text-align: center;
    color: #0070C0;
}

.ranking.content {
    color: #0070C0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    width: 35%;
    height: 50px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ranking.contentright{
    display: flex;
    justify-content: center;
    margin-right: 25px;
    margin-left: 25px;

    width: 80%;

}
.ranking.number1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: khaki;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: auto;
}

.ranking.number2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: gainsboro;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: auto;

}
.ranking.number3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: #90532b;
    border-radius: 50%;
    margin-left: 10px;
    margin-right: auto;
}
.newRoomPosition{
    display: flex;
    justify-content: space-around;
    margin-bottom: 2%;
}

.newRoom{
    width: 26%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding: 0.5%
}
.main-img {
    width: 20%;
    height: 20%;
    border-radius: 50px;
    z-index: 10;
}
.newRoomProfile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.profileName{
    font-weight: bold;
}
.newReview{
    margin: auto;
    width: 26%;
    height: auto;
    border-radius: 10px;
    background-color: white;
    padding: 0.5%
}
.newReviewProfile{
    display: flex;
    justify-content: space-around;
    align-items: center;
}